
.footer {
	text-align: center;
}

.col-centered {
  float: none;
  margin: 10px auto;

}

.card-title {
  margin-top: 10px;
}

.form-control {
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-check-input {
	margin-top: 5px;
	margin-bottom: 5px;
}

.rowSelected {
  font-weight: bold;
}

.card {
  margin-top: 20px;
}

.card-blue {
  background-color: #f8f9fa;
}

.btn-remove {
  margin-top: 20px;
}

.navbar .navbar-default {
	width: 50%;
}

.company {
  margin: auto;
}
